
.footer-wrapper {
    background-color: #fff0f0;
    padding: 30px 20px 10px;
    font-family: sans-serif;
  }
  
.footer-container {
    background-color: #fef2f2;
    /* padding: 30px; */
    /* position: fixed; */
    bottom: 35px;
    /* position: relative */
}

.footer-block {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    /* border-bottom: 1px solid #ddd; */
    padding: 20px ;
    gap: 20px;
    flex-wrap: wrap;
}

.footer-section {
    flex: 1;
    min-width: 180px;
}

.footer-section h4 {
    margin-bottom: 10px;
    color: #ffab00;
}

.footer-section ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.footer-section li {
    margin-bottom: 6px;
    color: #222;
}

.footer-section p {
    color: #333;
    font-size: 14px;
}

.social-icons {
    display: flex;
    gap: 10px;
    align-items: center;
}

.social-icon {
    width: 24px;
    height: 24px;
}

.footer-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2);
}



/* .footer-bottom { */
    /* text-align: center; */
    /* margin-top: 30px; */
    /* font-size: 14px; */
    /* color: #444; */
    /* padding-top: 15px; */
    /* border-top: 1px solid #ddd; */
    /* bottom: 0; */
    /* position: fixed; */
    /* margin-left: 30%; */
    /* margin-bottom: -20px; */
    /* position: relative */
  /* } */


  .footer-bottom {
    text-align: center;
    display: flex;
    background-color: white;
    align-items: center;
    justify-content: center;
    width:"100%";
    /* margin-top: 30px; */
    font-size: 14px;
    /* color: #444; */
    /* padding-top: 15px; */
    /* border-top: 1px solid #ddd; */
    /* bottom: 0; */
    /* position: fixed; */
    /* margin-left: 30%; */
    /* margin-bottom: -20px; */
    /* position: relative */
  }