.carousel-container {
  /* position: relative; */
  /* overflow: hidden; */
  width: 100%;
  height: 100vh; /* or 100% of the container */
  object-fit: cover;
  display: block;
}

.carousel-image-wrapper {
  position: relative;
  /* height: 50px;
  width: 50px; */
}

.carousel-image {
  width: 100%;
  height: 450px;
  object-fit: cover;
  border-radius: 12px;
}

/* .carousel-text {
  position: absolute;
  top: 30%;
  left: 30px;
  background-color: rgba(255, 193, 7, 0.85);
  color: white;
  padding: 20px;
  border-radius: 8px;
  max-width: 300px;
} */




.carousel-text {
  position: absolute;
  top: 30%;
  left: 30px;
  background: linear-gradient(to right, rgba(255, 202, 40, 0.85), rgba(224, 224, 224, 0.4)); /* yellow to gray, semi-transparent */
  color: white;
  padding: 20px;
  border-radius: 8px;
  width: 300px;
  height: 160px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  backdrop-filter: blur(2px); /* optional: adds blur effect to background */
  border-radius: 0; /* makes edges sharp */
}


/* .carousel-text h2 {
  margin: 0 0 10px;
}

.carousel-text p {
  margin: 0 0 10px;
} */

.carousel-text h2,
.carousel-text p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


.carousel-text button {
  padding: 8px 14px;
  background-color: white;
  color: #ff9800;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.carousel-dots {
  text-align: center;
  margin-top: 15px;
}

.dot {
  height: 10px;
  width: 10px;
  margin: 0 6px;
  background-color: gray;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

.dot.active {
  background-color: black;
}


/*  */


